.navbar-nav {
    flex-direction: row;
  }
  
  .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }
  
  ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
  }
  
  #nav {
    padding: 20px;
    color: #BDC3C7;
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    letter-spacing: -0.01em;
    background-color: white;
  }
  
  #nav .sign-up {
      width: 130px;
      background-color: unset;
      border: 1px solid #EEBA37;
      color: #223D68;
      margin-right: 20px;
      border-radius: 7px;
      margin-bottom: 10px;
  }
  
  #nav .signin {
      width: 130px;
      background-color: #EEBA37;
      color: white;
      border: 0px;
      border-radius: 7px;
      border: 0px;
      opacity: 0.6;
  }
  
  #nav .signin:hover {
      opacity: 1;
  }
  
  .r-mr-nav {
      margin-right: 30px;
  }
  
  .nav-button {
      width: 150px;
  }
  
  @media screen and (min-width: 601px) {
    #nav .navbar-nav {
      
    }
  }
  
  @media screen and (max-width: 600px) {
    #nav .navbar-nav {
      padding: 30px;
      text-align: center;
    }
  }
  
  #nav .navbar-brand img {
    padding-top: 3px;
  }
  
  #nav li a {
    color: #223D68;
    font-weight: 600;
  }
  
  .mobile-nav {
    width: auto;
    padding: 20px;
  }
  
  .mobile-nav h5 {
    letter-spacing: -0.01em;
    color: #223D68;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .mobile-nav span {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 13px;
  }
  
  .b-dropdown-menu {
    width: auto;
    padding: 20px;
  }
  
  .b-dropdown-menu h5, .b-dropdown-menu h6 {
    letter-spacing: -0.01em;
    color: #223D68;
    font-size: 13px;
  }
  
  .b-dropdown-menu h5 a:hover {
    text-decoration: none;
  }
  
  .b-dropdown-menu h6 a:hover {
    text-decoration: none;
  }
  
  .b-dropdown-menu p {
    margin-bottom: 30px;
    font-size: 15px;
  }
  
  .b-dropdown-menu span {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 13px;
  }
  
  .support-dropdown {
    width: 200px;
    padding: 20px;
  }
  
  .support-dropdown a {
    margin-bottom: 15px;
    letter-spacing: -0.01em;
    color: #223D68;
    font-size: 14px;
  }
  
  .support-dropdown a:hover {
    text-decoration: none;
  }